body {
  background-color: #0c1c3c;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.rating-container {
  margin: auto;
  text-align: center;
  color: white;
  background-color: #d25c79;
  border-radius: 10px;
  padding: 3rem;
  height: 150px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-shadow: 0 0 10px 2px #646464;
}

.rating-container h2 {
  text-align: center;
  font-weight: 100;
}
.rating-container ul {
  width: 150px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.rating-container ul li {
  display: inline-block;
}

.star {
  width: 20px;
}

.star:hover,
.star-selected {
  background-position: center;
  background-image: url(../assets/star-filled.svg);
}
